CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY= api key
CLOUDINARY_API_SECRET= secret key

ACCESS_TOKEN_SECRET= accesstoken
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=refresh token
REFRESH_TOKEN_EXPIRY=10d